<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="commons/header :: header"></div>
<div class="contenu">
    <form th:action="@{/register-user}" method="post" th:object="${signupRequest}">
        <p th:if="${#fields.hasGlobalErrors()}"
           th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
            error</p>

        <label for="name">name</label><br/>
        <input type="text" th:field="*{name}" id="name"><br/>
        <p th:each="error: ${#fields.errors('name')}" th:text="${error}">Validation error</p>
        <br/>
        <label for="username">username</label><br/>
        <input type="text" th:field="*{username}" id="username">
        <p th:each="error: ${#fields.errors('username')}" th:text="${error}">Validation error</p>
        <br/>
        <label for="email">email</label><br/>
        <input type="text" th:field="*{email}" id="email"><br/>
        <p th:each="error: ${#fields.errors('email')}" th:text="${error}">Validation error</p>
        <br/>
        <label for="password">Password</label><br/>
        <input type="password" th:field="*{password}" id="password"><br/>
        <p th:each="error: ${#fields.errors('password')}" th:text="${error}">Validation error</p>
        <br/>
        <input type="submit" name="signup" value="Enregistrer">
    </form>
    <ul>
        <li><a th:href="@{/login}">Login</a></li>
    </ul>
</div>
</body>
</html>
