<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home | Economia</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="commons/header :: header"></div>
<div class="contenu">
    <h3>Transactions</h3>
    <div class="search">
        <form th:action="@{/transactions}" method="get" th:object="${searchForm}">
            <input type="text" th:field="*{keyword}" id="keyword">
            <input type="submit" value="Search">
        </form>
        <a th:href="@{/transactions}">Fermer</a>
    </div>
    <div th:if="${param.success}">
        <span>Success</span>
    </div>
    <div>
        <a th:href="@{/transactions/add}">Add</a>
    </div>
    <table border="1">
        <tr>
            <td>Name</td>
            <td>Amount</td>
            <td>Date</td>
            <td></td>
            <td></td>
        </tr>
        <tr th:each="transaction: ${transactions}">
            <td><a th:href="@{'/transactions/show/' + ${transaction.id}}"><span
                    th:utext="${transaction.partnerName}"></span></a></td>
            <td th:utext="${transaction.amount}"></td>
            <td th:utext="${transaction.date}"></td>
            <td><a th:href="@{'/transactions/edit/' + ${transaction.id}}">Edit</a></td>
            <td><a th:href="@{'/transactions/delete/' + ${transaction.id}}">Delete</a></td>
        </tr>
    </table>
    <div th:if="${transactions.totalPages > 0}">
        <ul class="pagination">
            <li th:each="pageNumber : ${pageNumbers}" style="display: inline-block;">
                <a style="margin-right: 3px" th:href="@{/transactions(size=${transactions.size}, page=${pageNumber})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==transactions.number + 1} ? active"></a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
