<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Add | Economia</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="commons/header :: header"></div>
<div class="contenu">
    <form th:action="@{/credits/create}" method="post" th:object="${creditForm}">

        <p th:if="${#fields.hasGlobalErrors()}"
           th:each="error : ${#fields.errors('global')}" th:text="${error}">
            Validation error
        </p>

        <label for="partner">Partner</label><br/>
        <select th:field="*{partner}" id="partner">
            <option th:each="p: ${creditPartners}" th:value="${p.id}" th:text="${p.firstname + ' ' + p.lastname}" />
        </select>
        <p th:each="error: ${#fields.errors('partner')}" th:text="${error}">Validation error</p>
        <br/>
        <label for="account">Account</label><br/>
        <select th:field="*{account}" id="account">
            <option th:each="a: ${creditAccounts}" th:value="${a.id}" th:text="${a.name + ' - ' + a.number}" />
        </select>
        <p th:each="error: ${#fields.errors('account')}" th:text="${error}">Validation error</p>
        <br/>
        <label for="transTypeEnum">Transaction Type</label><br/>
        <select th:field="*{transTypeEnum}" id="transTypeEnum">
            <option th:each="type: ${creditTypes}" th:value="${type}" th:text="${type}" />
        </select>
        <p th:each="error: ${#fields.errors('transTypeEnum')}" th:text="${error}">Validation error</p>
        <br/>
        <label for="amount">Amount</label><br/>
        <input type="text" th:field="*{amount}" id="amount">
        <p th:each="error: ${#fields.errors('amount')}" th:text="${error}">Validation error</p>
        <br/>
        <label for="date">date</label><br/>
        <input type="date" th:field="*{date}" th:value="*{date}" id="date" pattern="yyyy-MM-dd"><br/>
        <p th:each="error: ${#fields.errors('date')}" th:text="${error}">Validation error</p>
        <br/>
        <label for="remarks">remarks</label><br/>
        <input type="text" th:field="*{remarks}" id="remarks"><br/>
        <p th:each="error: ${#fields.errors('remarks')}" th:text="${error}">Validation error</p>
        <br/>
        <input type="submit" name="create" value="Add">
    </form>
    <ul>
        <li><a th:href="@{/credits}">Credits List</a></li>
    </ul>
</div>
</body>
</html>
