<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Edit | Economia</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="commons/header :: header"></div>
<div class="contenu">
    <div style="display: block">
        Credit : <span th:utext="${credit.amount}" style="display: block"></span>
        Reste a payer<span th:utext="${credit.amountLeft}" style="display: block"></span>
    </div>

    <form th:action="@{'/credits/pay/' + ${credit.id}}" method="post" th:object="${creditPayForm}">
        <p th:if="${#fields.hasGlobalErrors()}"
           th:each="error : ${#fields.errors('global')}" th:text="${error}">
            Validation error
        </p>
        <label for="account">Account</label><br/>
        <select th:field="*{account}" id="account">
            <option th:each="a: ${creditAccounts}" th:value="${a.id}" th:text="${a.name + ' - ' + a.number}"/>
        </select>
        <br>
        <label for="amount">Amount</label><br/>
        <input type="text" th:field="*{amount}" id="amount"><br/>
        <p th:each="error: ${#fields.errors('amount')}" th:text="${error}">Validation error</p>
        <br>
        <br/>
        <input type="hidden" th:field="*{due}">
        <input type="hidden" th:field="*{left}">
        <input type="submit" name="update" value="Pay">
    </form>
    <ul>
        <li><a th:href="@{/credits}">Credits List</a></li>
    </ul>
</div>
</body>
</html>
