<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Statements | Economia</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="commons/header :: header"></div>
<div class="contenu">
    <h3>Transactions</h3>
    <div class="search">
        <form th:action="@{/statements}" method="get" th:object="${searchForm}">
            <input type="text" th:field="*{keyword}" id="keyword">
            <input type="submit" value="Search">
        </form>
        <a th:href="@{/statements}">Fermer</a>
    </div>
    <div th:if="${param.success}">
        <span>Success</span>
    </div>
    <!--<div>-->
        <!--<a th:href="@{/statements/add}">Add</a>-->
    <!--</div>-->
    <table border="1">
        <tr>
            <td>Name</td>
            <td>account</td>
            <td>transaction</td>
            <td>amount</td>
            <td>date</td>
            <!--<td></td>-->
            <!--<td></td>-->
        </tr>
        <tr th:each="statement: ${statements}">
            <td th:utext="${statement.name}"></td>
            <td th:utext="${statement.account.name}"></td>
            <td th:utext="${statement.transaction.partnerName}"></td>
            <td th:utext="${statement.amount}"></td>
            <td th:utext="${statement.date}"></td>
            <!--<td><a th:href="@{'/transactions/edit/' + ${transaction.id}}">Edit</a></td>-->
            <!--<td><a th:href="@{'/transactions/delete/' + ${transaction.id}}">Delete</a></td>-->
        </tr>
    </table>
    <div th:if="${statements.totalPages > 0}">
        <ul class="pagination">
            <li th:each="pageNumber : ${pageNumbers}" style="display: inline-block;">
                <a style="margin-right: 3px" th:href="@{/statements(size=${statements.size}, page=${pageNumber})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==statements.number + 1} ? active"></a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
