<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home | Economia</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="commons/header :: header"></div>
<div class="contenu">
    <h3>Partners</h3>
    <div class="search">
        <form th:action="@{/partners}" method="get" th:object="${searchForm}">
            <input type="text" th:field="*{keyword}" id="firstname">
            <input type="submit" value="Search">
        </form>
        <a th:href="@{/partners}">Fermer</a>
    </div>
    <div th:if="${param.success}">
        <span>Success</span>
    </div>
    <div>
        <a th:href="@{/partners/add}">Add</a>
    </div>
    <table border="1">
        <tr>
            <td>Name</td>
            <td>Phone</td>
            <td>Email</td>
            <td>Account</td>
            <td></td>
            <td></td>
        </tr>
        <tr th:each="partner: ${partners}">
            <td><a th:href="@{'/partners/show/' + ${partner.id}}"><span
                    th:utext="${partner.firstname +  ' ' + partner.lastname}"></span></a></td>
            <td th:utext="${partner.phone}"></td>
            <td th:utext="${partner.email}"></td>
            <td th:utext="${partner.account}"></td>
            <td><a th:href="@{'/partners/edit/' + ${partner.id}}">Edit</a></td>
            <td><a th:href="@{'/partners/delete/' + ${partner.id}}">Delete</a></td>
        </tr>
    </table>
    <div th:if="${partners.totalPages > 0}">
        <ul class="pagination">
            <li th:each="pageNumber : ${pageNumbers}" style="display: inline-block;">
                <a style="margin-right: 3px" th:href="@{/partners(size=${partners.size}, page=${pageNumber})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==partners.number + 1} ? active"></a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
